<form class="pure-form pure-form-stacked" ng-hide="username">
    <fieldset>
        <legend>Login</legend>
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" ng-model="email">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" ng-model="password">
        <button type="submit" class="pure-button pure-button-primary" ng-click="login()">Sign in</button>
    </fieldset>
</form>