<!DOCTYPE html>
<html ng-app="adminApp" ng-controller="adminController">

<head>
    <script src="../assets/libs/angular/angular.js"></script>
    <script src="../assets/libs/angular-route/angular-route.js"></script>

    <script src="views/adminApp/app.js"></script>
  
    <link rel="stylesheet" type="" href="../assets/css/pure-min.css">
    <link rel="stylesheet" type="" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
</head>

<body>
    <h1>Welcome Mr Admin</h1>
    <div ng-view="">
    </div>

    <div style="padding: 100px;">
        <a class="pure-button pure-button-primary" href="#/">Main</a>
        <a class="pure-button pure-button-primary" href="#/login">Login</a>
        <a class="pure-button pure-button-primary" ng-click="logout()">Logout</a>
        <a class="pure-button pure-button-primary" href="#/courses">Courses</a>
        <a class="pure-button pure-button-primary" href="#/divisions">Divisions</a>
        <a class="pure-button pure-button-primary" href="#/pupils">Pupils</a>
    </div>
</body>

</html>