<form class="pure-form pure-form-aligned" ng-show="!username">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Your name" ng-model="name">
        </div>
        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address" ng-model="email">
        </div>
        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password" ng-model="password">
        </div>
        <div class="pure-control-group">
            <label for="age">Age</label>
            <input id="age" type="text" placeholder="Age" ng-model="age">
        </div>
        <div class="pure-control-group">
            <label for="Division">Division</label>
            <select id="Division" ng-options="division.name for division in divisions" ng-model="division">
            </select>
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary" ng-click="register()">Submit</button>
        </div>
    </fieldset>
</form>