<table class="pure-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in courses | limitTo:10 |orderBy: +position">
            <td>{{course.title}}</td>
            <td>{{course.description}}</td>
            <td>{{course.position}}</td>
        </tr>
    </tbody>
</table>